<link href="https://fonts.googleapis.com/css?family=Athiti:600|Kosugi+Maru:600" rel="stylesheet">

<ion-content class="auth-bg bg-login" no-bounce>
  <ion-grid>
    <ion-row align-item-center>
      <ion-col col-12 class="logo-culumn">
        <div padding-horizontal text-center class="animated fadeInDown">
          <img src="assets/imgs/logo_new.png" style="width: 80%; margin-top:20%;">
        </div>
      </ion-col>

      <!--Username-->
      <ion-item no-lines class="Username">
        <ion-input #username type="text" placeholder="Username" [(ngModel)]="Username" required></ion-input>
        <ion-icon name="person" class="iconuser" item-left></ion-icon>
      </ion-item>

      <!--Password-->
      <ion-item no-lines class="Password">
        <ion-input #password type="password" placeholder="Password" [(ngModel)]="Password" required></ion-input>
        <ion-icon name="key" class="iconpass" item-left></ion-icon>
      </ion-item>

      <!--Button-->

      <ion-col col-12>
        <button ion-button icon-start block color="dark" tappable (click)="checkLogin()" class="btnhome">
          <ion-icon item-start class="btn-inhome" name="checkmark-circle"></ion-icon>
          <p class="name4">LOG IN</p>
        </button>
        <div text-center>
          <button ion-button clear item-start class="forgotpass" (click)="change_password()">ลืมรหัสผ่าน</button>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>