page-status {
    .bar-button-default-ios {
        color: #fb5700;
        background-color: transparent;
        zoom: 1.5;
    }

    .bar-button-default-md {
        margin-left: 2%;
        color: #fb5700;
        background-color: transparent;
        zoom: 1.5;
    }

    .toolbar-background {
        background-color: transparent !important;
    }

    .toolbar-content {
        font-size: 2.4rem;
    }

    .toolbar-title {
        margin-left: -5%;
        font-size: 20px;
        font-family: 'Angsananew', sans-serif;
    }

    .auth-bg {
        .in-front-title {
            z-index: 9999;
            position: relative;

            .image-title {
                margin-left: 70%;
                border-radius: 50%;
                width: 65px;
                height: 60px;
            }
        }

        .out-front-title {
            z-index: -1;
            position: absolute;
            margin-top: 5%;
            margin-left: -2%;
            font-family: 'Angsananew', sans-serif;
        }

       
        .ion-iton_cus {
            background-color: rgba(255, 255, 255, 0.75);
            border-color: rgba(255, 255, 255, 0.28);
            border-radius: 10px;
            font-size: 14px;
            padding: 0px;
            height: 60px;
            border-width: 1px;
            border-style: solid;
            text-align: center;
            line-height: 20px;
            font-weight: normal;
            font-style: normal;
            opacity: 1;
        }
    }


    .menubar{
        width: 100%;
        height: 60px;
        margin-top: 25px;
        border-radius: 10px;
        opacity: 0.8;
      }
      .level{
        position: absolute;
        right: 3%;
        top: 0px;
        width: 130px;
        height: 70px;
        background: transparent;
  
        .bookmark {
          position: absolute;
          right: 10%;
          top: 3px;
          color: #595959;
          align-items: center;
          z-index: 1000 !important;
          zoom: 4;
        }
        .star {
          position: absolute;
          right: 9px;
          top: 10px;
          color: #ff9800;
          align-items: center;
          z-index: 1001!important;
          zoom: 2;
        }
        .image-title {
          position: absolute;
          left: 0%;
          top: 0px;
          border-radius: 50%;
          width: 70px;
          height: 70px;
        }       
      }
      .fontmenu {
        font-family: "Angsananew", sans-serif;
        color: #000000;
        font-size: 5vw;
        margin-left: 25px;
      }

    .item-md2 {
        position: relative;
        padding-left: 16px;
        padding-right: 0;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: #fff;
        box-shadow: none;
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 10px;
        height: 50px;
    }

    .distance-title {
        padding-top: 5%;

        .picture {
            margin-top: 6%;
        }

        .normal-color {
            background-color: rgb(207, 245, 185);
            border-color: rgba(255, 255, 255, 0.28);
            border-radius: 10px;
            font-size: 14px;
            padding: 0px;
            border-width: 1px;
            border-style: solid;
            text-align: center;
            line-height: 20px;
            font-weight: normal;
            font-style: normal;
            opacity: 1;
            height: 54px;
        }

        .danger-color {
            background-color: rgb(254, 255, 195);
            border-color: rgba(255, 255, 255, 0.28);
            border-radius: 10px;
            font-size: 14px;
            padding: 0px;
            border-width: 1px;
            border-style: solid;
            text-align: center;
            line-height: 20px;
            font-weight: normal;
            font-style: normal;
            opacity: 1;
            height: 54px;
        }

        .disabled-color {
            background-color: rgb(243, 136, 136);
            border-color: rgba(255, 255, 255, 0.28);
            border-radius: 10px;
            font-size: 14px;
            padding: 0px;
            border-width: 1px;
            border-style: solid;
            text-align: center;
            line-height: 20px;
            font-weight: normal;
            font-style: normal;
            opacity: 1;
            height: 54px;
        }

        .name1 {
            margin-top: -5%;
            font-size: 15px;
            color: #000;
        }
    }
    .name {
        font-size: 18px;
        color: #000;
        margin-left: 15%;
        margin-top: 5px;
    }

    .box {
        width: 98%;
        font-family: 'Angsananew', sans-serif;
        margin-top: 40px;
        opacity: 0.9;
        .label-md {
            margin: 0 0 0 0;
        }
    }
    .color-normal {
        border-radius: 5px;
        background-color: #cff5b9;
        padding-top: 11%;
        margin-left: 72%;
        z-index: -1;

        img {
            margin: -21% 0 0 -9%;
        }
    }

    .color-danger {

        border-radius: 5px;
        background-color: #feffc3;
        padding-top: 11%;
        margin-left: 72%;
        z-index: -1;

        img {
            margin: -21% 0 0 -9%;
        }
    }

    .color-disabled {

        border-radius: 5px;
        background-color: #f38888;
        padding-top: 11%;
        margin-left: 72%;
        z-index: -1;

        img {
            margin: -21% 0 0 -9%;
        }
    }

    .img-pic-icon {
        height: 19px;
        margin-left: -37%;
        margin-top: 1%;
    }

    .block-1 {
        margin-top: 3%;
        width: 40px;
        height: 40px;
        float: left;
        font-family: 'Angsananew', sans-serif;
    }

    .block-2 {
        margin-top: 3%;
        width: 40px;
        height: 40px;
        float: left;
        font-family: 'Angsananew', sans-serif;
    }

    .block-3 {
        margin-top: 3%;
        width: 40px;
        height: 40px;
        float: left;
        font-family: 'Angsananew', sans-serif;
    }


.box2 {
    width: 98%;
    position: absolute;
    margin-top: 50%;
    font-family: 'Angsananew', sans-serif;

    // .label-md {
    //   margin: 0 0 0 0;
    // }
}

.color-disabled2 {
    border-radius: 5px;
    background-color: #f38888;
    padding-top: 11%;
    margin-left: 72%;
    z-index: -1;
}
}