// http://ionicframework.com/docs/theming/
// App Shared Imports
// --------------------------------------------------
// global styles
.primary-bg {
    background-color: color($colors, primary) !important;
}

.secondary-bg {
    background-color: color($colors, secondary) !important;
}

.common-bg {
    background-color: #FAFBFC;
}

.white-bg {
    background-color: #fff;
}

.detail-bg {
    background-color: #f1f1f5;
}

.light-bg {
    background-color: color($colors, light);
}

.dark-bg {
    background-color: color($colors, dark);
}

.green-bg {
    background-color: #68C91F;
}

.profile-bg {
    background-image: linear-gradient(135deg, color($colors, dark), color($colors, primary), color($colors, light));
}

.item-bg {
    background: #f9e927;
}

//
//
.text-primary {
    color: color($colors, primary);
}

.text-secondary {
    color: color($colors, secondary);
}

.text-green {
    color: #68C91F;
}

.text-yellow {
    color: #FDD835;
}

.text-white {
    color: #fff;
}

//
.dark-trans,
.toast-md .toast-wrapper {
    background-color: rgba(0, 0, 0, .4);
}

// Helpers
.quarter-op {
    opacity: .25;
}

.no-paddingTRL {
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.no-paddingTRB {
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
}

.no-paddingB {
    padding-bottom: 0 !important;
}

.no-paddingT {
    padding-top: 0 !important;
}

.padding-xs {
    padding: 10px;
}

.no-padding {
    padding: 0 !important;
}

.no-pl {
    padding-left: 0 !important;
}

.no-margin {
    margin: 0;
}

.no-marginT {
    margin-top: 0 !important;
}

.mt-half {
    margin-top: .5rem !important;
}

.mt-1 {
    margin-top: 1rem !important;
}

.mb-half {
    margin-bottom: .5rem;
}

.marginB-16px {
    margin-bottom: 16px !important;
}

.marginB-2 {
    margin-bottom: 2rem !important;
}

.marginT-16px {
    margin-top: 16px !important;
}

.marginT-2 {
    margin-top: 2rem !important;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.rlt {
    position: relative;
}

.clear {
    clear: both;
}

.align-bottom {
    position: absolute;
    bottom: 0;
}

.round {
    border-radius: 1rem;
    overflow: hidden;
}

.no-round {
    border-radius: 0;
}

.border-bottom {
    border-bottom: 1px solid rgba(86, 61, 124, 0.1);
}

.full-width {
    width: 100% !important;
}

.max-width {
    max-width: 100% !important;
}

.padding-sm {
    padding: 1rem;
}

.uppercase {
    text-transform: uppercase;
}

// text size
.text-2x {
    font-size: 2em;
}

.text-1x {
    font-size: 1em;
}

.text-sm {
    font-size: 0.7em;
}

.bold {
    font-weight: bold !important;
}

// buttons configs
.btn-facebook {
    background-color: #3B5999;
}

.btn-twitter {
    background-color: #00ACEE;
}

.btn-gplus {
    background-color: #E04006
}

// badge style
ion-badge {
    &.square {
        border-radius: 0;
    }
}

// card style
.card {
    background: #FFF;
    border-radius: 1rem;
    box-shadow: 0 0 1px rgba(86, 61, 124, 0.2), 0 2px 4px rgba(86, 61, 124, 0.15);
}

// navbar style
ion-navbar.no-border {
    .toolbar-background {
        border: none;
    }
}

// list style
.list-no-border {
    .item:first-child {
        border: none;
    }
    .item:last-child {
        border: none;
    }
    .item {
        .item-inner {
            border: none;
        }
    }
}

.list-full-border {
    @extend .list-no-border;
    .item,
    .item:first-child,
    .item:last-child {
        border-bottom: 1px solid rgba(86, 61, 124, 0.2);
        .item-inner {
            border: none;
        }
    }
}

// item style
.item.no-border {
    .item-inner {
        border: none;
    }
}

// Toolbar
// transparent nav bar
.toolbar {
    &.nav-transparent {
        .toolbar-background {
            background-color: rgba(86, 61, 124, .65);
        }
    }
    .toolbar-title {
        img {
            vertical-align: sub;
            border-radius: 10%;
        }
    }
}

// style for auth pages
.auth-page {
    background-color: #fff;
    &::after {
        content: "";
        background: url("../assets/img/bg.jpg") no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 0;
    }
    .scroll-content {
        display: flex;
        align-items: center;
        justify-content: center; //background: rgba(50, 10, 92, .4);
        .login-content {
            width: 86%;
            .logo {
                width: 60px;
                height: 60px;
                margin: 20px auto 0;
                border-radius: 10%;
                background: url("../assets/img/ionic3-ico.png") no-repeat;
                background-size: 100%;
            }
            .list-form {
                padding: 0;
                margin-bottom: 0;
                ion-item {
                    background: none;
                    padding: 50px;
                    &:first-child {
                        border-top: none;
                    }
                    &:after {
                        display: none;
                    }
                    ion-label {
                        font-size: 1em;
                        color: color($colors, primary);
                    }
                    input {
                        color: color($colors, primary);
                    }
                }
            }
        }
    }
}

// Menu user profile
.user-profile {
    padding: 0;
    min-height: 0 !important;
    .user-avatar {
        width: 68px;
        height: 68px;
        display: inline-block;
        border-radius: 50%;
        box-shadow: inset 0 0 10rem rgba(0, 0, 0, .25), 0 0 4rem rgba(255, 255, 255, .45);
        img {
            border-radius: 50%;
        }
    }
    .toolbar-background {
        background-image: linear-gradient(50deg, color($colors, primary), color($colors, danger));
    }
    .other-data {
        .column {
            &:first-child {
                border-right: 1px solid rgba(36, 50, 157, .25);
            }
        }
    }
}

.user-list {
    .item {
        &:last-child {
            border-bottom: 0;
        }
        .item-inner {
            font-family: 'Angsananew', sans-serif;
            font-size: 16px;
            border-color: rgba(86, 61, 124, .1);
        }
    }
}

// styles for hotels
.hotel-bg {
    background-position: center;
    .bg-filter {
        position: relative;
        height: 150px;
        background: rgba(0, 0, 0, .5);
        .bottom-info {
            position: absolute;
            width: 100%;
            bottom: 1rem;
            padding: 1rem;
        }
    }
    .discount {
        position: absolute;
        padding: 0.5rem 1rem;
        top: 0;
        right: 0;
        background-color: #68C91F;
        color: #fff;
    }
    .origin-price {
        color: #C0C0C0;
        text-decoration: line-through;
    }
    .sale-price,
    .price {
        font-size: 1.8rem;
    }
}

// style for slider
ion-slides.to-top {
    height: auto;
    margin-bottom: -5px;
    .swiper-pagination {
        display: block !important;
        .swiper-pagination-bullet {
            background: color($colors, light);
        }
    }
}

.to-top {
    height: 950px;
}

// style for ion-icon
ion-icon[ng-reflect-disabled="true"] {
    color: #FAFBFC;
    pointer-events: none;
}

// checkout info style
.checkout-info {
    span {
        font-size: 1.2rem;
    }
}

// remove shadow from header
.md {
    ion-header {
        &.no-shadow::after {
            background-image: none;
        }
    }
    ion-toolbar,
    ion-navbar {
        .button,
        .button.activated {
            box-shadow: none;
        }
    }
}

.ios {
    ion-list ion-item,
    .list-hotels .hotel-bg {
        pointer-events: none;
    }
}

// google
.google-map {
    height: 160px;
    pointer-events: none;
    margin: 0 -20px;
}

// Animate CSS
.animated {
    animation-duration: 4s;
    animation-fill-mode: both;
}

.animated.infinite {
    animation-iteration-count: infinite;
}

.animated.hinge {
    animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
    animation-duration: .75s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInDown {
    animation-name: fadeInDown;
}

.button-menu {
    display: inline-block;
    vertical-align: top;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid;
    border-color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button-menu:hover {
    background-color: #C0C0C0;
    color: white;
}

.auth-bg {
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.auth-bg.background-login {
    // background: #C0C0C0; 
    // background-image: url("../assets/imgs/splash_bg.jpg"); 
}

.bg-login {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../assets/imgs/bg_l.jpg");
}

.bg-all {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../assets/imgs/bg5.jpg");
}

.bg-all-teacher {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../assets/imgs/bg7.jpg");
}

.bg-all-parent {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../assets/imgs/parent/p_bg.png");
}

#container {
    height: 400px;
    width: 400px;
    position: relative;
}

#image {
    position: absolute;
    left: 0;
    top: 0;
}

#text {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    left: 150px;
    top: 350px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.modal-fullscreen {
    .modal-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        height: 85%;
        width: 90%;
        margin-top: 10%;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.modal-fullscreen1 {
    .modal-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
}

.modal-newcustomer {
    .modal-wrapper {
        height: 500px;
    }
}

.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
    line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

.button-md-dark {
    color: #343434;
    background-color: #FFC000;
    border-radius: 30px;
}

.dddd {
    margin-left: 50px !important;
}

ion-select {
    max-width: 100% !important;
}

.popover-content {
    width: 70% !important;
}

.alert-ios .alert-radio-label {
    white-space: pre-line;
}

.alert-md .alert-radio-label {
    white-space: pre-line;
}

.alert-wp .alert-radio-label {
    white-space: pre-line;
}

.select-text {
    white-space: pre-line;
}

// @media screen and (max-width: 320px) {
//   }
@media screen and (min-width:320px) and (max-width: 480px) {
    html {
        font-size: 8px;
    }
    ;
    p {
        font-size: 8px;
    }
    ;
    ion-select {
        font-size: 8px;
    }
    ;
    ion-input {
        font-size: 8px;
    }
    ;
}

@media screen and (min-width:481px) and (max-width: 640px) {
    html {
        font-size: 12px;
    }
    ;
    p {
        font-size: 16px;
    }
    ;
    ion-select {
        font-size: 16px;
    }
    ;
    ion-input {
        font-size: 16px;
    }
    ;
}

@media screen and (min-width:641px) and (max-width: 960px) {
    html {
        font-size: 14px;
    }
    p {
        font-size: 18px;
    }
    ion-select {
        font-size: 18px;
    }
    ion-input {
        font-size: 18px;
    }
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 1028px) {}

//h1 { font-size: 2em }
// .segment-md .segment-button ion-icon  {
//   font-size: 1.5rem;
//     line-height: 4rem;
// }
.button-md-primary {
    color: #fff;
    background-color: #e13838;
}

.label-md {
    margin: 13px -4px 13px 0;
}

.label-md[stacked],
.label-md[floating] {
    margin-left: 0;
    margin-bottom: 11px;
}

.toggle-md-danger.toggle-checked .toggle-icon {
    background-color: #fbb6b6;
    height: 146%;
}

.toggle-md .toggle-icon {
    border-radius: 14px !important;
    position: relative;
    display: block;
    width: 108%;
    height: 155%;
    background-color: #dedede;
    -webkit-transition: background-color 300ms;
    transition: background-color 300ms;
    pointer-events: none;
}

.button-md-a {
    color: #f7f5f5;
    background-color: #0D9CFF;
}

.button-md-c {
    color: #fff;
    background-color: #727df5;
}

.button-md-z {
    color: #fff;
    background-color: #FFFF88;
}


////////// loading

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
  }
  
  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #333;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }

  .splash {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    // background: orange;
    background-image: linear-gradient(to bottom, #e16515, #e6790d, #e98c07, #eb9f07, #ebb212);
}
