<link href="https://fonts.googleapis.com/css?family=Athiti:600" rel="stylesheet">

<ion-menu [content]="content">
    <ion-header no-border>
        <ion-toolbar class="user-profile">
            <ion-title></ion-title>
        </ion-toolbar>
        <img src="assets/imgs/background with logo.jpg">
    </ion-header>

    <ion-content color="primary">

        <ion-list  class="user-list" no-border no-lines>
            <button  menuClose ion-item class="text-1x" *ngFor="let p of pages" (click)="openPage(p)">
                <span ion-text>{{p.title}} </span>
            </button>
        </ion-list>


    </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

