page-edit-homework {

    @media screen and (min-width:0px) and (max-width:2600px) and (orientation: portrait) {
       
    .bar-button-default-ios{
        color: #fb5700;
        background-color: transparent;
        zoom: 1.5;
    }
    .bar-button-default-md{
        margin-left: 2%;
        color: #fb5700;
        background-color: transparent;
        zoom: 1.5;
    }
    .toolbar-background{
        background-color: transparent !important;
    }
    .toolbar-content{
        font-size: 2.4rem;
    }
    .toolbar-title{
        margin-left: -55%;
        font-size: 20px;
        font-family: 'Angsananew', sans-serif;
    }
        .auth-bg {
            ion-row {
                margin-left: -0.5%;
            }
            .bookmark {
                color: #595959;
                align-items: center;
                position: absolute;
                z-index: 1000;
                zoom: 4.0;
                margin-top: 150%;
                margin-left: -55%;
            }
            .star {
                color: #ff9800;
                align-items: center;
                position: absolute;
                z-index: 999999 !important;
                zoom: 2.0;
                margin-top: 250%;
                margin-left: -105%;
            }
            .in-front-title{
                z-index: 9999;
                position: relative;
                .image-title{
                    margin-left: 70%;
                    width: 16%;
                    height: 88%;
                }
            }
            .out-front-title{
                z-index: -1;
                position: absolute;
                padding-left: 3%;
                padding-right: 3%;
                margin-top: 5%;
                margin-left: -2.25%;
                font-family: 'Angsananew', sans-serif;
                ion-label {
                    padding-top: 1% !important;
                }
                ion-item {
                    background-color: rgba(255, 255, 255, 0.75);
                    border-color: rgba(255, 255, 255, 0.28);
                    border-radius: 10px;
                    font-size: 14px;
                    padding: 0px;
                    border-width: 1px;
                    border-style: solid;
                    text-align: center;
                    line-height: 20px;
                    font-weight: normal;
                    font-style: normal;
                    opacity: 1;
                }
            }
            .item-md2 {
                position: relative;
                padding-left: 16px;
                padding-right: 0;
                font-size: 1.6rem;
                font-weight: normal;
                text-transform: none;
                color: #000;
                background-color: #fff;
                box-shadow: none;
                transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
            }
            .box{
                position: absolute;
                margin-top: 40%;
                margin-left: -0.15%;
                font-family: 'Angsananew', sans-serif;
                .label-md {
                    margin: 0 0 0 0; 
                }
                .dorpright{
                    color: #ff9800;
                    font-size: 43px;
                    margin-left: 15%;
                }
                .name {
                    font-size: 18px;
                    text-align: left;
                    margin-left: 5%;
                    margin-top: 5%;
                }
            }
            .box{
                position: absolute;
                margin-top: 20%;
                margin-left: -1%;
                .label-md {
                    margin: 0 0 0 0; 
                }
                .name {
                    font-size: 16px;
                    text-align: left;
                }
                .name1 {
                    font-size: 20px;
                    text-align: center;   
                }
                .detail-news{
                    padding: 15px;
                    position: relative;
                    font-weight: normal;
                    text-transform: none;
                    color: #000;
                    background-color: #fff;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    border-radius: 10px;
                }
            }
        }
        .list-md{
            margin-right: 2%;
        }

        .btnhome{
            background-color: #ff9800;
            border-radius: 5px;
            width: 60%;
            height: 50px;
            margin-left: 20%;
            margin-top: 5%;
        }
    
        .btnhomework2{
            position: absolute;
            left: 0px; 
            border-radius: 5px; 
            font-size: 26px; 
            color : #ff9800;
            width: 20%; 
            height: 50px; 
            background:rgb(255, 255, 255);
            // zoom: 1.5;
            padding-top: 13px;
        }
        .name4{
            font-size: 16px;
            color: #ffffff;
            font-family: 'Angsananew', sans-serif;
        }
    }

    @media screen and (min-width:0px) and (max-width:2600px) and (orientation: landscape) {
       
        .bar-button-default-ios{
            color: #fb5700;
            background-color: transparent;
            zoom: 1.5;
        }
        .bar-button-default-md{
            margin-left: 2%;
            color: #fb5700;
            background-color: transparent;
            zoom: 1.5;
        }
        .toolbar-background{
            background-color: transparent !important;
        }
        .toolbar-content{
            font-size: 2.4rem;
        }
        .toolbar-title{
            margin-left: -55%;
            font-size: 20px;
            font-family: 'Angsananew', sans-serif;
        }
            .auth-bg {
                ion-row {
                    margin-left: -0.5%;
                }
                .bookmark {
                    color: #595959;
                    align-items: center;
                    position: absolute;
                    z-index: 1000;
                    zoom: 4.0;
                    margin-top: 150%;
                    margin-left: -55%;
                }
                .star {
                    color: #ff9800;
                    align-items: center;
                    position: absolute;
                    z-index: 999999 !important;
                    zoom: 2.0;
                    margin-top: 250%;
                    margin-left: -105%;
                }
                .in-front-title{
                    z-index: 9999;
                    position: relative;
                    .image-title{
                        margin-left: 70%;
                        width: 16%;
                        height: 88%;
                    }
                }
                .out-front-title{
                    z-index: -1;
                    position: absolute;
                    padding-left: 3%;
                    padding-right: 3%;
                    margin-top: 5%;
                    margin-left: -2.25%;
                    font-family: 'Angsananew', sans-serif;
                    ion-label {
                        padding-top: 1% !important;
                    }
                    ion-item {
                        background-color: rgba(255, 255, 255, 0.75);
                        border-color: rgba(255, 255, 255, 0.28);
                        border-radius: 10px;
                        font-size: 14px;
                        padding: 0px;
                        border-width: 1px;
                        border-style: solid;
                        text-align: center;
                        line-height: 20px;
                        font-weight: normal;
                        font-style: normal;
                        opacity: 1;
                    }
                }
                .item-md2 {
                    position: relative;
                    padding-left: 16px;
                    padding-right: 0;
                    font-size: 1.6rem;
                    font-weight: normal;
                    text-transform: none;
                    color: #000;
                    background-color: #fff;
                    box-shadow: none;
                    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
                }
                .box{
                    position: absolute;
                    margin-top: 40%;
                    margin-left: -0.15%;
                    font-family: 'Angsananew', sans-serif;
                    .label-md {
                        margin: 0 0 0 0; 
                    }
                    .dorpright{
                        color: #ff9800;
                        font-size: 43px;
                        margin-left: 15%;
                    }
                    .name {
                        font-size: 18px;
                        text-align: left;
                        margin-left: 5%;
                        margin-top: 5%;
                    }
                }
                .box{
                    position: absolute;
                    margin-top: 20%;
                    margin-left: -1%;
                    .label-md {
                        margin: 0 0 0 0; 
                    }
                    .name {
                        font-size: 16px;
                        text-align: left;
                    }
                    .name1 {
                        font-size: 20px;
                        text-align: center;   
                    }
                    .detail-news{
                        padding: 15px;
                        position: relative;
                        font-weight: normal;
                        text-transform: none;
                        color: #000;
                        background-color: #fff;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        border-radius: 10px;
                    }
                }
            }
            .list-md{
                margin-right: 2%;
            }
    
            .btnhome{
                background-color: #ff9800;
                border-radius: 5px;
                width: 60%;
                height: 50px;
                margin-left: 20%;
                margin-top: 5%;
            }
        
            .btnhomework2{
                position: absolute;
                left: 0px; 
                border-radius: 5px; 
                font-size: 26px; 
                color : #ff9800;
                width: 20%; 
                height: 50px; 
                background:rgb(255, 255, 255);
                // zoom: 1.5;
                padding-top: 13px;
            }
            .name4{
                font-size: 16px;
                color: #ffffff;
                font-family: 'Angsananew', sans-serif;
            }
        }
}
