page-subject {

    @media screen and (min-width:0px) and (max-width:2600px) and (orientation: portrait) {
    .bar-button-default-ios{
        color: #fb5700;
        background-color: transparent;
        zoom: 1.5;
    }
    .bar-button-default-md{
        margin-left: 2%;
        color: #fb5700;
        background-color: transparent;
        zoom: 1.5;
    }
    .toolbar-background{
        background-color: transparent !important;
    }
    .toolbar-content{
        font-size: 2.4rem;
    }
    .toolbar-title{
        margin-left: -55%;
        font-size: 20px;
        font-family: 'Angsananew', sans-serif;
    }
    .auth-bg {
        ion-row {
            margin-left: -0.5%;
        }
        .in-front-title {
            z-index: 9999;
            position: relative;

            .image-title {
                margin-left: 70%;
                width: 16%;
                height: 88%;
            }

        }
        .bookmark {
            color: #595959;
            align-items: center;
            position: absolute;
            margin-top: 150%;
            margin-left: -100%;
            z-index: 1000 !important;
            zoom: 4.0;
           
        }
        .star {
            color: #ff9800;
            align-items: center;
            position: absolute;
            z-index: 999999 !important;
            zoom: 2.0;
            margin-top: 250%;
            margin-left: -160%;
        }
        .out-front-title {
            background-color: rgba(255, 255, 255, 0);
            z-index: -1;
            border-radius: 4px;
            position: absolute;
            padding-left: 3%;
            padding-right: 3%; 
            margin-top: 5%;
            margin-left: -2.25%;
        }
        .out-front-title2{ 
            border-radius: 4px;
            background-color: rgba(255, 255, 255, 0.8);
        }

        .md-bookmark{
            color: rgb(221, 109, 34);  
            position: absolute; 
            top:-10px; 
            font-size: 45px;
        }
    
        .box-out{
            margin-top: 10%;
            border-radius: 10px;
            margin-left: 3%;
            width: 95%;
        }
        .box-out2{
            margin-top: 5%;
            border-radius: 10px;
            margin-left: 3%;
            width: 95%;
        }
        .md-arrow-dropright-circle{
            color: rgb(221, 109, 34); 
            position: absolute; 
            top: -1px; 
            right:8px; 
            font-size:33px;
        }

    }

    .btnhome {
        background-color: #ff9800;
        border-radius: 5px;
        width: 60%;
        height: 50px;
        margin-left: 20%;
        margin-top: 5%;
    }

    .btn-inhome{
        position: absolute;
        left: 0px; 
        border-radius: 5px; 
        font-size: 26px; 
        color : #ff9800;
        width: 20%; 
        height: 50px; 
        background:rgb(255, 255, 255);
        // zoom: 1.5;
        padding-top: 13px;
    }

    .name4 {
        font-size: 18px;
        text-align: left;
        margin-left: 6%;
        color: #ffffff;
    }

    .btnhome2 {
        background-color: #ff9800; 
        border-radius: 5px;
        width: 60%;
        height: 50px;
        margin-left: 20%;
        margin-top: 5%;
    }

    .btn-inhome2{
        position: absolute;
        left: 0px; 
        border-radius: 5px; 
        font-size: 26px; 
        color : #ff9800;
        width: 20%; 
        height: 50px; 
        background:rgb(255, 255, 255);
        // zoom: 1.5;
        padding-top: 13px;
    }
}

@media screen and (min-width:0px) and (max-width:2600px) and (orientation: landscape) {
    .bar-button-default-ios{
        color: #fb5700;
        background-color: transparent;
        zoom: 1.5;
    }
    .bar-button-default-md{
        margin-left: 2%;
        color: #fb5700;
        background-color: transparent;
        zoom: 1.5;
    }
    .toolbar-background{
        background-color: transparent !important;
    }
    .toolbar-content{
        font-size: 2.4rem;
    }
    .toolbar-title{
        margin-left: -55%;
        font-size: 20px;
        font-family: 'Angsananew', sans-serif;
    }
    .auth-bg {
        ion-row {
            margin-left: -0.5%;
        }
        .in-front-title {
            z-index: 9999;
            position: relative;

            .image-title {
                margin-left: 70%;
                width: 16%;
                height: 88%;
            }

        }
        .bookmark {
            color: #595959;
            align-items: center;
            position: absolute;
            margin-top: 150%;
            margin-left: -100%;
            z-index: 1000 !important;
            zoom: 4.0;
           
        }
        .star {
            color: #ff9800;
            align-items: center;
            position: absolute;
            z-index: 999999 !important;
            zoom: 2.0;
            margin-top: 250%;
            margin-left: -160%;
        }
        .out-front-title {
            background-color: rgba(255, 255, 255, 0);
            z-index: -1;
            border-radius: 4px;
            position: absolute;
            padding-left: 3%;
            padding-right: 3%; 
            margin-top: 5%;
            margin-left: -2.25%;
        }
        .out-front-title2{ 
            border-radius: 4px;
            background-color: rgba(255, 255, 255, 0.8);
        }

        .md-bookmark{
            color: rgb(221, 109, 34);  
            position: absolute; 
            top:-10px; 
            font-size: 45px;
        }
    
        .box-out{
            margin-top: 10%;
            border-radius: 10px;
            margin-left: 3%;
            width: 95%;
        }
        .box-out2{
            margin-top: 5%;
            border-radius: 10px;
            margin-left: 3%;
            width: 95%;
        }
        .md-arrow-dropright-circle{
            color: rgb(221, 109, 34); 
            position: absolute; 
            top: -1px; 
            right:8px; 
            font-size:33px;
        }

    }

    .btnhome {
        background-color: #ff9800;
        border-radius: 5px;
        width: 60%;
        height: 7%;
        position: absolute;
        margin-top: 5%;
        margin-left: 17%;
    }

    .btn-inhome{
        position: absolute;
        left: 0px; 
        border-radius: 5px; 
        font-size: 26px; 
        padding-top:7px; 
        color : #ff9800;
        width: 20%; 
        height: 100%; 
        background:#ffe6c1;
        // zoom: 1.5;
        padding-top: 5%;
    }

    .name4 {
        font-size: 18px;
        text-align: left;
        margin-left: 6%;
        color: #ffffff;
    }

    .btnhome2{
        background-color: #ff9800;
        border-radius: 5px;
        width: 60%;
        height: 7%;
        position: absolute;
        margin-top: 22%;
        margin-left: 17%;
    }

    .btn-inhome2{
        position: absolute;
        left: 0px; 
        border-radius: 5px; 
        font-size: 26px; 
        color : #ff9800;
        width: 20%; 
        height: 100%; 
        background:#ffe6c1;
        padding-top: 5%;
    }
}

}
